header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 75px;
  width: 95vw;
  font-size: 1.25rem;
  font-weight: bold;
}

#pin {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

#current-time {
  font-size: 1.75rem;
}
#search-input {
  background-color: rgba(255, 255, 255, 0.75);
  width: 150px;
  padding: 5px 0;
  border: none;
  border-radius: 30px;
}